export TELEGRAM_TOKEN=secret
export RESEND_TOKEN=secret

export BUCKET_NAME=secret
export TABLE_NAME=secret
export RUNNER_FUNCTION_NAME=secret
export INTERVAL_INDEX_NAME=secret
export USER_INDEX_NAME=secret

export MAC_FFMPEG_URL=https://evermeet.cx/ffmpeg/ffmpeg-6.0.zip
export LINUX_FFMPEG_URL=https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz

export REGION=eu-central-1
export IS_LOCAL=true

export NEXTAUTH_GITHUB_ID=secret
export NEXTAUTH_GITHUB_SECRET=secret
export NEXTAUTH_SECRET=secret
export NEXTAUTH_URL=https://phr.vercel.app

export WEBSOCKET_APP_ID=secret
export WEBSOCKET_SECRET=secret
export NEXT_PUBLIC_WEBSOCKET_KEY=notsecret

export CHROMIUM_URL=https://github.com/Sparticuz/chromium/releases/download/v130.0.0/chromium-v130.0.0-layer.zip