.container {
  color: white;
  line-height: initial;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 24px 0;
}

.headline {
  align-self: center;
  font-size: 24px;
}

.switch {
  width: 100%;
}

.video {
  width: 100%;
}

.submitContent {
  display: grid;
  gap: 12px;
}

.loadInputs {
  display: flex;
  gap: 12px;
}

.drawerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.executionItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
