.container {
  color: white;
  line-height: initial;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-end;
  padding: 24px 0;
}

.headline {
  align-self: center;
  font-size: 24px;
}

.left {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
}

.itemName {
  grid-row: 1;
}

.itemFails {
  grid-row: 1;
  grid-column: 2;
}

.itemInterval {
  grid-row: 1;
  grid-column: 3;
}

.itemExec {
  grid-column: 2/4;
}

.buttons {
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.switch {
  grid-column: 1/3;
}

.video {
  width: 100%;
}

.submitContent {
  display: grid;
  gap: 12px;
}
